
.episodes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  margin-top: 14px;
  margin-bottom: 7px;
}

.episodes.episode.lastepisode {
  margin-top: 14px;
}

.list-episodes {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.episode-box {
  width: calc(100% - 10px);
  float: left;
  margin-bottom: 10px;
}

.episode-box .poster {
  cursor: pointer;
  padding-bottom: 56.4%;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.28);
  overflow: hidden;
}

.episode-box .poster .img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  background: rgba(5, 1, 26, 0.58);
}

.episode-box .poster .img img {
  width: 100%;
  height: 100%;
  display: block;
  float: left;
  background-size: 100%;
  border-radius: 5px;
  object-fit: contain;
}

.episode-box .poster .img img:hover {
  -webkit-transform: scale(1.2) rotate(2deg);
  -o-transform: scale(1.2) rotate(2deg);
  -ms-transform: scale(1.2) rotate(2deg);
  transform: scale(1.2) rotate(0deg);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.episode-title {
  width: 100%;
  height: 45px;
  float: left;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  margin-top: -45px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: left;
  text-shadow: 3px 2px 1px #000;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 5px;
  background: linear-gradient(to top, rgb(0, 0, 0) 0%, transparent 100%);
}

.serie-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px 7px;
  display: unset;
  float: left;
  width: calc(100% - 14px);
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  font-family: "Funnel Display", serif;
}

.serie-name a {
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  font-family: "Funnel Display", serif;
}

.episode-name {
  margin-left: 7px;
  width: calc(100% - 14px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  font-size: 14px;
}

.episode-name a {
  font-size: 14px;
  color: #fff;
}

.episode-date {
  color: #ccc;
  font-size: 11px;
  font-weight: normal;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.75);
  padding: 2px 6px;
  border-radius: 5px;
  position: relative;
  margin-top: 7px;
  float: right;
  text-align: center;
  margin-right: 7px;
  margin-bottom: -31px;
  z-index: 9;
}

.episode-lang {
  position: absolute;
  margin-top: 7px;
  margin-left: 7px;
  z-index: 9;
}

.episode-lang i.far.fa-closed-captioning {
  font-size: 19px;
  margin-top: -2px;
  margin-bottom: 0;
  color: #ffae0d;
  background: rgba(0, 0, 0, 0.75);
  line-height: 14px;
  border-radius: 3px;
}
#pagination-container {
  text-align: center;
  margin: 20px 0;
}

.pagination {
  display: inline-block;
}

.pagination a,
.pagination span {
  color: #fff;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #32373c;
  margin: 0 4px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.pagination a:hover {
  background-color: #555;
}

.pagination .current {
  background-color: #4caf50;
  color: white;
}

.pagination .disabled {
  background-color: #666;
  cursor: not-allowed;
  opacity: 0.5;
}

.fourk-logo {
  position: absolute;
  top: 5;
  left: 5;
  width: 50px !important;
  background-size: contain;
}

@media only screen and (max-width: 1000px) {
  .episode .list-episodes {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    height: 57px;
    overflow: hidden;
    margin-bottom: 6px;
  }

  .episode .episode-box .poster {
    padding-bottom: 0;
    box-shadow: unset;
    border-radius: 0;
  }

  .episode .episode-box .poster .img {
    position: relative;
    border-radius: 0;
  }

  .episode .episode-box .poster .img img {
    width: 92px;
    height: 51.88px;
    border-radius: 0;
  }

  .episode .episode-title {
    background: transparent;
    width: calc(100% - 152px);
    margin-left: 94px;
    margin-top: -51px;
  }

  .episode .episode-box {
    background: rgba(75, 62, 140, 0.1);
    border-bottom: 1px dashed rgba(205, 194, 255, 0.1);
    position: relative;
  }

  .episode .episode-lang {
    right: 7px;
    top: 2px;
  }

  .episode .episode-date {
    color: #fff;
    background: transparent;
    margin-top: 29px;
    padding: 0;
  }

  .episode .episode-box .poster .img img:hover {
    -webkit-transform: unset;
    -o-transform: unset;
    -ms-transform: unset;
    transform: unset;
    -webkit-transition: unset;
    -moz-transition: unset;
    -o-transition: unset;
    transition: unset;
  }
}

@media only screen and (min-width: 1439px) {
  .list-episodes {
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
